<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	  <form action='/uploadumsaetze' method='post' enctype="multipart/form-data">
		  <div>Upload: <input type='file' name='umsatz-file' /></div>
		  <div><input type='submit' value='Upload' /></div>
	  </form>
  </body>
</html>
